head
	title #{pageTitle}
	meta(charset = 'UTF-8')
	meta(http-equiv = 'X-UA-Compatible', content = 'IE=edge,chrome=1')
	meta(name = 'description', content = metaDesc)
	meta(nam = 'viewport', content = 'width=device-width, initial-scale=1')
	link(href = '_img/favicon.ico', rel = 'shortcut icon', type = 'image/vnd.microsoft.icon')
	link(href = '_css/main.css', rel = 'stylesheet')
	link(rel="canonical" href="https://www.airbnb.com/")
	link(rel="alternate" href="https://es.airbnb.com/" hreflang="es")
	link(rel="alternate" href="https://en.airbnb.com/" hreflang="en")

	meta(name='description', content='Alquila alojamientos únicos de anfitriones de más de 190 países. Siéntete como en tu propia casa con Airbnb, vayas donde vayas.')
	meta(property='fb:app_id', content='138566025676')  
	meta(property='og:site_name', content='Airbnb')  
	meta(property='og:type', content='website')  
	meta(property='og:url', content='https://www.airbnb.es/')  
	meta(property='og:title', content='Alquileres vacacionales, casas completas, apartamentos y habitaciones - Airbnb')  
	meta(property='og:description', content='Alquila alojamientos únicos de anfitriones de más de 190 países. Siéntete como en tu propia casa con Airbnb, vayas donde vayas.')  
	meta(property='og:image', content='https://a2.muscache.com/airbnb/static/logos/belo-400x400-084661b96df1341091ee5764587d8ed8.png')  
	meta(property='og:locale', content='es_ES')
	meta(name='twitter:widgets:csp', content='on')    
	meta(name='twitter:url', content='https://www.airbnb.es/')    
	meta(name='twitter:description', content='Alquila alojamientos únicos de anfitriones de más de 190 países. Siéntete como en tu propia casa con Airbnb, vayas donde vayas.')    
	meta(name='twitter:card', content='summary')    
	meta(name='twitter:title', content='Alquileres vacacionales, casas completas, apartamentos y habitaciones - Airbnb')    
	meta(name='twitter:site', content='@airbnb_es')    
	meta(name='twitter:app:name:iphone', content='Airbnb')    
	meta(name='twitter:app:name:ipad', content='Airbnb')    
	meta(name='twitter:app:name:googleplay', content='Airbnb')    
	meta(name='twitter:app:id:iphone', content='401626263')    
	meta(name='twitter:app:id:ipad', content='401626263')    
	meta(name='twitter:app:id:googleplay', content='com.airbnb.android')    
	meta(name='twitter:app:url:iphone', content='airbnb://')    
	meta(name='twitter:app:url:ipad', content='airbnb://')    
	meta(name='twitter:app:url:googleplay', content='airbnb://')


