extends layouts/default

append mainVars
  - currentPage = 'index'
  - pageTitle = 'Título'
  - metaDesc = 'Descripción.'

block content
  p
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pretium est velit, sed varius lacus. Aliquam erat volutpat. Phasellus in eleifend odio. Duis cursus libero et sapien malesuada adipiscing aliquet justo placerat. Nulla vulputate sem ac lectus euismod a hendrerit quam faucibus. Nulla diam mauris, aliquam ullamcorper tempor ac, aliquet in nisi. Suspendisse volutpat ornare malesuada. Ut feugiat dictum ante, vel pellentesque ligula mollis nec. Cras quis nibh id erat dignissim sollicitudin. Morbi molestie fringilla turpis, in aliquam metus laoreet nec. In vitae sapien a eros placerat posuere. Etiam hendrerit consectetur augue, eget pellentesque turpis pharetra non. Etiam molestie tempus nisl, nec pharetra enim cursus eget. Maecenas hendrerit rhoncus tellus, quis lobortis lorem pulvinar ac.
